<div class="col-md-5 center">
    <div class="card text-center" style="margin-top: 2em;">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-item-center">
            {{service.nombre}}
        </div>
        <img [src]="service.image == '' ? '/assets/nophoto.png' : service.image" class="card-img-top" style="max-width: 500px !important; max-height: 200px !important;">
        <div class="card-body">
            <p id="contenido">{{service.descripcion}}</p>
            <p style="text-align: left;">Precio: {{service.precio}}€</p>
            <a [routerLink]="['/']" class="btn btn-info btn-block">
                VOLVER A TODOS LOS SERVICIOS
            </a>
        </div>
    </div>
</div>

<div class="col-md-5 center" style="margin-left: 2em;">
    <div>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Horario</th>
              </tr>
            </thead>
            <tbody *ngFor="let horario of horarios">
              <tr>
                <th scope="row">{{horario.dia | date: 'yyyy-MM-dd'}}</th>
                <td>{{horario.comienzo}} - {{horario.fin}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
